<p>
  <b>Name:</b>
  <%=h @effectiveness.name %>
</p>

<p>
  <b>Ordinal:</b>
  <%=h @effectiveness.ordinal %>
</p>


<%= link_to 'Edit', edit_effectiveness_path(@effectiveness) %> |
<%= link_to 'Back', effectivenesses_path %>